<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <img src="Assets/Logo.svg" class="logo" />
      <button class="text_buttons">
        Resources<img src="Assets/chevron-small-down.svg" />
      </button>
      <button class="Outline_buttons">Login</button>
      <button class="filled_buttons">
        Signin<img src="Assets/chevron-small-down.svg" />
      </button>
    </nav>

    <main>
      <div class="title">
        <h1>Resources</h1>
        <p>World’s best library of Resources</p>
      </div>

      <div class="radio-tags">
        <label class="tag">
          <input type="radio" name="design" value="UI" checked />
          All
        </label>
        <label class="tag">
          <input type="radio" name="design" value="UX" />
          UX Design
        </label>
        <label class="tag">
          <input type="radio" name="design" value="Illustration" />
          Illustration
        </label>
        <label class="tag">
          <input type="radio" name="design" value="Branding" />
          Branding
        </label>
      </div>
    </main>

    <main>
        <div>
            <img src="Assets/Logo.svg" alt="">
            <h3>Name</h3>
            <p>Descripton</p>
            <button></button>
        </div>
    </main>
  </body>
</html>
